In [455]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go

train_df = pd.read_csv("files/timesData.csv")

In [456]:
train_df.head(20)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,"38,206",10.3,15%,52 : 48,2011
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,"14,221",6.9,21%,42 : 58,2011
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100.0,86.4,"15,128",3.6,23%,50 : 50,2011
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,"21,424",10.2,19%,48 : 52,2011
14,15,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,"18,178",14.7,37%,31 : 69,2011
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,"41,786",9.0,16%,48 : 52,2011
16,17,University of Toronto,Canada,75.8,-,87.9,82.2,-,82.0,"66,198",19.5,15%,NaN,2011
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81.0,"25,055",5.9,28%,NaN,2011
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,"20,376",6.5,20%,51 : 49,2011
19,20,Carnegie Mellon University,United States of America,70.3,39.1,79.3,95.7,53.7,79.3,"11,885",13.1,35%,39 : 61,2011

In [457]:
train_df.describe()

          teaching     research    citations  student_staff_ratio         year
count  2603.000000  2603.000000  2603.000000          2544.000000  2603.000000
mean     37.801498    35.910257    60.921629            18.445283  2014.075682
std      17.604218    21.254805    23.073219            11.458698     1.685733
min       9.900000     2.900000     1.200000             0.600000  2011.000000
25%      24.700000    19.600000    45.500000            11.975000  2013.000000
50%      33.900000    30.500000    62.500000            16.100000  2014.000000
75%      46.400000    47.250000    79.050000            21.500000  2016.000000
max      99.700000    99.400000   100.000000           162.600000  2016.000000

In [458]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2603 entries, 0 to 2602
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   world_rank              2603 non-null   object
 1   university_name         2603 non-null   object
 2   country                 2603 non-null   object
 3   teaching                2603 non-null   float64
 4   international           2603 non-null   object
 5   research                2603 non-null   float64
 6   citations               2603 non-null   float64
 7   income                  2603 non-null   object
 8   total_score             2603 non-null   object
 9   num_students            2544 non-null   object
 10  student_staff_ratio     2544 non-null   float64
 11  international_students  2536 non-null   object
 12  female_male_ratio       2370 non-null   object
 13  year                    2603 non-null   int64
dtypes: float64(4), int64(1), object(9)
memory usage: 284.8+ KB

In [459]:
train_df["country"].unique()

array(['United States of America', 'United Kingdom', 'Switzerland',
       'Canada', 'Hong Kong', 'Japan', 'South Korea', 'Singapore',
       'Australia', 'China', 'France', 'Sweden', 'Germany',
       'Republic of Ireland', 'Finland', 'Taiwan', 'South Africa',
       'Turkey', 'Netherlands', 'Belgium', 'Denmark', 'Norway', 'Spain',
       'New Zealand', 'Egypt', 'Austria', 'Israel', 'Brazil', 'Italy',
       'Russian Federation', 'Greece', 'Iceland', 'Czech Republic',
       'India', 'Poland', 'Iran', 'Portugal', 'Thailand', 'Chile',
       'Estonia', 'Saudi Arabia', 'Mexico', 'Colombia', 'Macau',
       'Morocco', 'Luxembourg', 'Unisted States of America', 'Cyprus',
       'Unted Kingdom', 'Uganda', 'Malaysia', 'Lebanon', 'Romania',
       'Slovenia', 'Pakistan', 'Hungary', 'United Arab Emirates',
       'Belarus', 'Serbia', 'Slovakia', 'Bangladesh', 'Ghana', 'Nigeria',
       'Indonesia', 'Jordan', 'Latvia', 'Kenya', 'Argentina', 'Qatar',
       'Oman', 'Ukraine', 'Lithuania'], dtype=object)

In [460]:
corrections = {
    "Unisted States of America" : "United States of America",
    "Unted Kingdom":"United Kingdom"}

train_df["country"].replace(corrections)

0       United States of America
1       United States of America
2       United States of America
3       United States of America
4       United States of America
                  ...
2598                 South Korea
2599                      Turkey
2600                       Japan
2601                       Japan
2602                      Taiwan
Name: country, Length: 2603, dtype: object

In [461]:
def ratio_to_int(ratio_str):
    if pd.isna(ratio_str):
        return None
    parts = ratio_str.split(' : ')
    if len(parts) == 2:
        return int(parts[0])
    return None

train_df['female_male_ratio_percent'] = train_df['female_male_ratio'].apply(ratio_to_int)

In [462]:
female_male_ratio_null = train_df["female_male_ratio_percent"].isnull().sum()
num_students = train_df['num_students'].isnull().sum()
student_staff_ratio = train_df["student_staff_ratio"].isnull().sum()


print(f"female_male_ratio_null null: {female_male_ratio_null}")
print(f"num_students null: {num_students}")
print(f"student_staff_ratio null: {student_staff_ratio}")

female_male_ratio_null null: 236
num_students null: 59
student_staff_ratio null: 59

In [463]:
train_df["female_male_ratio_percent"].mean()

49.68398817068019

In [464]:
train_df["female_male_ratio_percent"] = train_df["female_male_ratio_percent"].fillna(train_df["female_male_ratio_percent"].median())

In [465]:
# train_df["female_male_ratio_percent"] = train_df["female_male_ratio_percent"].fillna(train_df.groupby('university_name')["female_male_ratio_percent"].median())
# train_df["female_male_ratio_percent"] = train_df["female_male_ratio_percent"].fillna(train_df.groupby('university_name')["female_male_ratio_percent"].mean())

In [466]:
# train_df["female_male_ratio_percent"] = train_df["female_male_ratio_percent"].fillna(0)
# train_df["female_male_ratio_percent"] = train_df["female_male_ratio_percent"].fillna(train_df.groupby('university_name')["female_male_ratio_percent"].median())

In [467]:
train_df.groupby('university_name')["female_male_ratio_percent"].median()

university_name
AGH University of Science and Technology    52.0
Aalborg University                          48.0
Aalto University                            32.0
Aarhus University                           54.0
Aberystwyth University                      48.0
                                            ...
Ã‰cole Normale SupÃ©rieure                    46.0
Ã‰cole Normale SupÃ©rieure de Lyon            49.0
Ã‰cole Polytechnique                         18.0
Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne    27.0
Ã–rebro University                           61.0
Name: female_male_ratio_percent, Length: 818, dtype: float64

Ð½Ðµ Ñ€Ð°Ð±Ð¾Ñ‚Ð°ÑŽÑ‚ Ð²Ñ‹ÑˆÐµ:

In [468]:
train_df.head(20)

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,female_male_ratio_percent
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011,52.0
1,2,California Institute of Technology,United States of America,97.7,54.6,98.0,99.9,83.7,96.0,"2,243",6.9,27%,33 : 67,2011,33.0
2,3,Massachusetts Institute of Technology,United States of America,97.8,82.3,91.4,99.9,87.5,95.6,"11,074",9.0,33%,37 : 63,2011,37.0
3,4,Stanford University,United States of America,98.3,29.5,98.1,99.2,64.3,94.3,"15,596",7.8,22%,42 : 58,2011,42.0
4,5,Princeton University,United States of America,90.9,70.3,95.4,99.9,-,94.2,"7,929",8.4,27%,45 : 55,2011,45.0
5,6,University of Cambridge,United Kingdom,90.5,77.7,94.1,94.0,57.0,91.2,"18,812",11.8,34%,46 : 54,2011,46.0
6,6,University of Oxford,United Kingdom,88.2,77.2,93.9,95.1,73.5,91.2,"19,919",11.6,34%,46 : 54,2011,46.0
7,8,"University of California, Berkeley",United States of America,84.2,39.6,99.3,97.8,-,91.1,"36,186",16.4,15%,50 : 50,2011,50.0
8,9,Imperial College London,United Kingdom,89.2,90.0,94.5,88.3,92.9,90.6,"15,060",11.7,51%,37 : 63,2011,37.0
9,10,Yale University,United States of America,92.1,59.2,89.7,91.5,-,89.5,"11,751",4.4,20%,50 : 50,2011,50.0
10,11,"University of California, Los Angeles",United States of America,83.0,48.1,92.9,93.2,-,87.7,"38,206",10.3,15%,52 : 48,2011,52.0
11,12,University of Chicago,United States of America,79.1,62.8,87.9,96.9,-,86.9,"14,221",6.9,21%,42 : 58,2011,42.0
12,13,Johns Hopkins University,United States of America,80.9,58.5,89.2,92.3,100.0,86.4,"15,128",3.6,23%,50 : 50,2011,50.0
13,14,Cornell University,United States of America,82.2,62.4,88.8,88.1,34.7,83.9,"21,424",10.2,19%,48 : 52,2011,48.0
14,15,ETH Zurich â€“ Swiss Federal Institute of Techno...,Switzerland,77.5,93.7,87.8,83.1,-,83.4,"18,178",14.7,37%,31 : 69,2011,31.0
15,15,University of Michigan,United States of America,83.9,53.3,89.1,84.1,59.6,83.4,"41,786",9.0,16%,48 : 52,2011,48.0
16,17,University of Toronto,Canada,75.8,-,87.9,82.2,-,82.0,"66,198",19.5,15%,NaN,2011,52.0
17,18,Columbia University,United States of America,73.8,90.9,73.8,92.6,-,81.0,"25,055",5.9,28%,NaN,2011,52.0
18,19,University of Pennsylvania,United States of America,71.8,32.9,82.7,93.6,43.7,79.5,"20,376",6.5,20%,51 : 49,2011,51.0
19,20,Carnegie Mellon University,United States of America,70.3,39.1,79.3,95.7,53.7,79.3,"11,885",13.1,35%,39 : 61,2011,39.0

In [469]:
female_male_ratio_null = train_df["female_male_ratio"].isnull().sum()
num_students = train_df['num_students'].isnull().sum()
student_staff_ratio = train_df["student_staff_ratio"].isnull().sum()


print(f"female_male_ratio_null null: {female_male_ratio_null}")
print(f"num_students null: {num_students}")
print(f"student_staff_ratio null: {student_staff_ratio}")

female_male_ratio_null null: 233
num_students null: 59
student_staff_ratio null: 59

In [470]:
train_df.groupby('university_name').size().reset_index(name='count')

                              university_name  count
0    AGH University of Science and Technology      1
1                          Aalborg University      5
2                            Aalto University      5
3                           Aarhus University      6
4                      Aberystwyth University      5
..                                        ...    ...
813                  Ã‰cole Normale SupÃ©rieure      6
814          Ã‰cole Normale SupÃ©rieure de Lyon      6
815                       Ã‰cole Polytechnique      6
816  Ã‰cole Polytechnique FÃ©dÃ©rale de Lausanne      6
817                         Ã–rebro University      1

[818 rows x 2 columns]

In [471]:
train_df[train_df['university_name'] == 'AGH University of Science and Technology'].groupby('university_name').size().reset_index(name='count')

                            university_name  count
0  AGH University of Science and Technology      1

In [472]:
train_df[train_df['university_name'] == 'Harvard University'].groupby('university_name').size().reset_index(name='count')

      university_name  count
0  Harvard University      6

In [473]:
train_df[train_df['university_name'] == 'Ã–rebro University']

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,female_male_ratio_percent
2134,301-350,Ã–rebro University,Sweden,18.3,39.4,10.4,87.8,29.8,-,"8,788",15.8,2%,61 : 39,2016,61.0

In [474]:
train_df[train_df['university_name'] == 'Harvard University']

,world_rank,university_name,country,teaching,international,research,citations,income,total_score,num_students,student_staff_ratio,international_students,female_male_ratio,year,female_male_ratio_percent
0,1,Harvard University,United States of America,99.7,72.4,98.7,98.8,34.5,96.1,"20,152",8.9,25%,NaN,2011,52.0
201,2,Harvard University,United States of America,95.8,67.5,97.4,99.8,35.9,93.9,"20,152",8.9,25%,NaN,2012,52.0
605,4,Harvard University,United States of America,94.9,63.7,98.6,99.2,39.9,93.6,"20,152",8.9,25%,NaN,2013,52.0
1003,2,Harvard University,United States of America,95.3,66.2,98.5,99.1,40.6,93.9,"20,152",8.9,25%,NaN,2014,52.0
1403,2,Harvard University,United States of America,92.9,67.6,98.6,98.9,44.0,93.3,"20,152",8.9,25%,NaN,2015,52.0
1808,6,Harvard University,United States of America,83.6,77.2,99.0,99.8,45.2,91.6,"20,152",8.9,25%,NaN,2016,52.0