**Задание 1:**

В этом небольшом задании вам дается строка чисел, разделенных пробелами,
и вы должны вернуть наибольшее и наименьшее число.

In [ ]:
from functools import reduce


def find_max_min(num_string: str) -> list:
  int_list = list(map(int, num_string.split()))

  max = 0
  min = 0

  for num in int_list:
      if num > max:
          max = num
      if num < min:
          min = num

  return max, min

In [ ]:
max, min = find_max_min("0 -12 1 3 4 7 9 10 14")
max, min

(14, -12)

**Задание 2:**

Банкоматы допускают использование 4- или 6-значных PIN-кодов, а PIN-коды не
могут содержать ничего, кроме ровно 4 или ровно 6 цифр. Если функции
передана действительная строка PIN-кода, return true, иначе return false.

In [ ]:
pin_codes = ["4719483","1432","33","587sd2f","348141324","-487167"]

In [ ]:
def check_pin(pin: str) -> bool:
  try:
    pin = abs(int(pin))
  except:
    return False

  pin = str(pin)
  if len(pin) == 6 or len(pin) == 4:
    return True

  return False

In [ ]:
for pin in pin_codes:
  status = check_pin(pin)
  print(f"{pin}: {status}")

4719483: False
1432: True
33: False
587sd2f: False
348141324: False
-487167: True

**Задание 3:**

Учитывая целое число, определите, является ли оно квадратным : В
математике квадратное число или идеальный квадрат — это целое число,
которое является квадратом целого числа; другими словами, это
произведение некоторого целого числа само на себя. На вход список, на
выходе список чисел

In [ ]:
num_list = [13, 16, 54, 44, 32, 89, 123, -1]

In [ ]:
import math

def check_root(num: int) -> bool:
  if num < 0:
    return False

  root = int(math.sqrt(num))
  if root * root == num:
    return True
  return False

In [ ]:
num_list = list(filter(check_root, num_list))
num_list

[16]

**Задание 4:**

Реализуйте функцию unique_in_order, которая принимает в качестве аргумента
последовательность и возвращает список элементов без каких-либо элементов
с одинаковым значением рядом друг с другом и сохраняет исходный порядок
элементов.

In [ ]:
def unique_in_order(seq: str) -> list:
  list_el = []

  t_element = ""
  for x in seq:
    if t_element != x:
      list_el.append(x)
      t_element = x

  return list_el

In [ ]:
unique_in_order("DDDDJSAIFJWJJJFLA")

['D', 'J', 'S', 'A', 'I', 'F', 'J', 'W', 'J', 'F', 'L', 'A']

**Задание 5:**

Просто, учитывая строку слов, верните длину самого короткого слова (слов).
Строка никогда не будет пустой, и вам не нужно учитывать разные типы данных.

In [ ]:
def len_checker(s_string: str) -> int:
  word_list = s_string.split()

  t_length = len(word_list[0])
  for word in word_list:
    if len(word) < t_length:
      t_length = len(word)

  return t_length

In [ ]:
len_checker("Lorem Ipsum is simply dummy text of the printing and typesetting industry.")

2

**Задание 6:**

Цифровой корень — это рекурсивная сумма всех цифр числа. Учитывая n,
возьмите сумму цифр n. Если это значение имеет более одной цифры,
продолжайте уменьшать таким образом, пока не получите однозначное число.
Входные данные будут неотрицательным целым числом.

In [150]:
def root(num: int) -> int:
  if num < 10:
    return num

  sum = 0
  for x in str(num):
    sum += int(x)

  return root(sum)

In [100]:
root(16)

7

**Задание 7:**

Вам будет предоставлено слово. Ваша задача — вернуть средний символ
слова. Если длина слова нечетная, верните средний символ. Если длина слова
четная, верните 2 средних символа

In [116]:
def get_middle(word: str) -> str:
  if len(word) % 2 == 0:
    return word[len(word) // 2 - 1: len(word) // 2 + 1]
  else:
    return word[len(word) // 2]

In [117]:
get_middle("Word")

'or'

**Задание 8:**

Определите функцию, которая принимает целочисленный аргумент и
возвращает логическое значение trueили falseв зависимости от того, является
ли целое число простым.

In [148]:
def check_num(num: int) -> bool:
  if num < 1:
    return False
  elif num == 2:
    return True

  for i in range(2, num):
    if num % i == 0:
      return False

  return True

In [149]:
check_num(17)

True

**Задание 9:**

Учитывая список целых чисел, определите, является ли сумма его элементов
нечетной или четной.

In [127]:
def check_list(num_list: list) -> bool:
  sum_num_list = sum(num_list)

  if sum_num_list % 2 == 0:
    return True

  return False

In [130]:
check_list([1,2,3,4,5])

False

**Задание 10:**

In [159]:
def matrix(n):
    matrix = []
    for i in range(n):
        t_matrix = []
        for j in range(n):
            if (i <= j and n - i - 1 >= j) or (i >= j and n - i - 1 <= j):
                t_matrix.append(1)
            else:
                t_matrix.append(0)
        matrix.append(t_matrix)
    return matrix

In [166]:
n = matrix(5)
n

[[1, 1, 1, 1, 1],
 [0, 1, 1, 1, 0],
 [0, 0, 1, 0, 0],
 [0, 1, 1, 1, 0],
 [1, 1, 1, 1, 1]]

In [167]:
from functools import reduce

def calculate_matrix(n):
  sum = 0
  for i in n:
    sum += reduce(lambda x, y: x + y, filter(lambda x: x == 1, i))
  return sum

In [168]:
sum = calculate_matrix(n)
sum

17