**Задание 1**:

Напишите функцию для разделения строки и преобразования ее в список
слов.

Пример: `"Robin Singh" ==> ["Robin", "Singh"]`

In [133]:
some_str = "Robin Singh"

In [134]:
def split_str(some_str):
  return some_str.split(" ")

In [135]:
split_str(some_str)

['Robin', 'Singh']

**Задание 2**:

Натан любит кататься на велосипеде. Поскольку Натан знает, как важно
избегать обезвоживания, он выпивает 0,5 литра воды за час езды на
велосипеде. Вам дано время в часах, и вам нужно вернуть количество
литров, которое выпьет Натан, округленное до наименьшего значения.

Пример: `time = 3 ----> litres = 1`

In [52]:
l_per_hour = 0.5

In [136]:
from decimal import Decimal, ROUND_HALF_DOWN

def water_counter(time):
  litres = Decimal(time*l_per_hour)
  return int(litres.quantize(Decimal("1"), ROUND_HALF_DOWN))

In [137]:
def water_counter(time):
  return int(time*l_per_hour//1)

In [138]:
water_counter(3)

1

**Задание 3**:

Создайте функцию, которая возвращает список целых чисел от n до 1,
где n>0.

Пример: `n=5-->[5,4,3,2,1]`

In [139]:
def list_creator(n):
  return [x for x in range(n,0,-1)]

In [45]:
list_creator(5)

[5, 4, 3, 2, 1]

**Задание 4**:

Учитывая год, верните столетие, в котором он находится.

Пример: `1705 --> 18 1900 --> 19 1601 --> 17`

In [140]:
from decimal import Decimal, ROUND_HALF_UP

def year_counter(year):
  if year % 100 == 0:
    return year//100
  return (year//100) + 1

In [142]:
year_counter(1600)

16

**Задание 5**:

Учитывая случайное неотрицательное число, вам необходимо вернуть
цифры этого числа в массиве в обратном порядке.

Пример: `35231 => [1,3,2,5,3]`

In [141]:
def number_to_list(number):
  return [int(x) for x in str(number)[::-1]]

In [143]:
number_to_list(35231)

[1, 3, 2, 5, 3]

**Задание 6**:

Получить квадратные матрицы порядка n (через список как на
занятии), элементами которых являются заданные
действительные числа 1, 2, ..., n*n, расположенные в ней по схемам,
которые приведены на рисунках


![image.png]()

In [144]:
def matrix_vertical(n):
  matrix = []
  for i in range(n):
    t_matrix = []
    for j in range(n):
      if j % 2 == 0:
        t_matrix.append(j * n + i + 1)
      else:
        t_matrix.append(j * n + n - i)
    matrix.append(t_matrix)
  return matrix

In [145]:
def matrix_horizontal(n):
  matrix = []
  for i in range(n):
    t_matrix = []
    for j in range(n):
      if i % 2 == 0:
        t_matrix.append(i * n + j + 1)
      else:
        t_matrix.append(i * n + n - j)
    matrix.append(t_matrix)
  return matrix

In [146]:
matrix = matrix_vertical(5)

for row in matrix:
  print(row)

[1, 10, 11, 20, 21]
[2, 9, 12, 19, 22]
[3, 8, 13, 18, 23]
[4, 7, 14, 17, 24]
[5, 6, 15, 16, 25]

In [147]:
matrix = matrix_horizontal(5)

for row in matrix:
  print(row)

[1, 2, 3, 4, 5]
[10, 9, 8, 7, 6]
[11, 12, 13, 14, 15]
[20, 19, 18, 17, 16]
[21, 22, 23, 24, 25]

**Задание 7**:

In [148]:
def matrix(n):
  matrix = []
  for i in range(n):
    t_matrix = []
    for j in range(n):
      if i >= j:
        t_matrix.append(1)
      else:
        t_matrix.append(0)
    matrix.append(t_matrix)
  return matrix

In [149]:
matrix(5)

[[1, 0, 0, 0, 0],
 [1, 1, 0, 0, 0],
 [1, 1, 1, 0, 0],
 [1, 1, 1, 1, 0],
 [1, 1, 1, 1, 1]]

In [152]:
def matrix(n):
  matrix = []
  for i in range(n):
    t_matrix = []
    for j in range(n):
      if i >= j and ((n // 2) + 1) > i:
        t_matrix.append(1)
      elif i >= j and n - i > j:
        t_matrix.append(1)
      else:
        t_matrix.append(0)
    matrix.append(t_matrix)
  return matrix

In [151]:
def matrix(n):
    matrix = []
    for i in range(n):
        t_matrix = []
        for j in range(n):
            if i >= j and n - i - 1 >= j:
              t_matrix.append(1)
            else:
                t_matrix.append(0)
        matrix.append(t_matrix)
    return matrix

In [153]:
matrix(5)

[[1, 0, 0, 0, 0],
 [1, 1, 0, 0, 0],
 [1, 1, 1, 0, 0],
 [1, 1, 0, 0, 0],
 [1, 0, 0, 0, 0]]

In [130]:
def matrix(n):
    matrix = []
    for i in range(n):
        t_matrix = []
        for j in range(n):
            if (i >= j and n - i - 1 >= j) or (n - i - 1 <= j and i <= j):
              t_matrix.append(1)
            else:
                t_matrix.append(0)
        matrix.append(t_matrix)
    return matrix

In [131]:
matrix(5)

[[1, 0, 0, 0, 1],
 [1, 1, 0, 1, 1],
 [1, 1, 1, 1, 1],
 [1, 1, 0, 1, 1],
 [1, 0, 0, 0, 1]]